/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/03/2019, 18:39:12
    Author     : Patri
*/

.fundo{
    -fx-background-color: #354152;
}

.textField{
    -fx-text-fill: #7e8ba3;
}

.botaoPrimario{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: rgb(0, 182, 255);
    -fx-border-radius: 0px;
    
}

.botaoPrimario:hover{
    -fx-background-color: rgb(0, 200, 255);
    -fx-cursor: hand;
}

.botaoSecundario{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #293340;
    -fx-border-radius: 0px;
    
}

.botaoSecundario:hover{
    -fx-background-color: #2C3745;
    -fx-cursor: hand;
}

.botaoFuncoes{
    -fx-background-color: #293340;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}
.botaoFuncoes:hover{
    -fx-background-color: #2C3745;
    -fx-cursor: hand;
}

.label{
    -fx-text-fill: #FFFFFF;
}